RAG AGENT (1).json
{
  "name": "RAG AGENT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jhIZ07HirOqAfu9XJDbLLAr3m2qI_Rqo",
          "mode": "list",
          "cachedResultName": "N8N RAG AGENT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jhIZ07HirOqAfu9XJDbLLAr3m2qI_Rqo"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        208
      ],
      "id": "b7de286e-edfc-4fd6-ab64-afea89d304c5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mVYMHOfXxc4p9zQR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        208
      ],
      "id": "7f7715f8-9064-428a-8e69-541b2a39b47a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mVYMHOfXxc4p9zQR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c78f68df-4e22-4918-8af4-ce0353530cbb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "8po3mte1exXuzbNg",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        224
      ],
      "id": "48e71a8b-9422-49f4-9f9d-2076064d156d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ojL24a05EJs90awN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        224
      ],
      "id": "46ccfc76-5eb1-404e-9c90-0413bf0ccc35",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        176,
        432
      ],
      "id": "d6a49818-23b4-44c8-83a0-d5d618f6942b",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f510e99c-b3e1-4557-8ae6-4c64af47f953",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa0df79d4a00eac4643f752c27bfa34188a46bba2449cd59653288a49be815d6"
  },
  "id": "arssTBcC9f7Sf31p",
  "tags": []
}